{% extends 'webapp/base.html' %}

{% block content %}
    <div id="graph"></div>
    <script>
    $(document).ready(
        $.getJSON('bot_data/1', function(data) {
            var trace1 = {
            x: data.data.hour,
            y: data.data.air_quality,
            mode: 'lines+markers',
            name: data.data.name
            };

            var data = [trace1];

            Plotly.newPlot('graph', data, {responsive: true});
        }));

    </script>
{% endblock %}